@use '../../../../assets/scss/variables' as *;

button {
  padding: 12px 18px;
  font-size: 16px;
  background: transparent;
  border-radius: 28px;
  cursor: pointer;
  border: solid 2px;
  transition: all .2s;
  &:hover, &.filled {
    background: $primary;
    filter: drop-shadow(0 0 10px $primary);
    border: solid 2px transparent;
  }
}