<app-navbar></app-navbar>
<div class="grid" [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : null">
  <div class="copyright">
    © Copyright - Aeroclub Villa Cañás
  </div>
  <main>
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
  <div class="social-networks">
    <a href="https://www.instagram.com/aeroclubvcc"><img src="./assets/icons/instagram.svg"></a>
    <a href="https://www.facebook.com/EscuelaVCC/"><img src="./assets/icons/facebook.svg"></a>
    <a href=""><img src="./assets/icons/twitter.svg"></a>
  </div>
</div>