.container {
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    h2 {
      font-size: 84px;
      font-weight: 900;
    }

    .dots {
      display: grid;
      grid-template-columns: repeat(7, 36px);
      grid-template-rows: repeat(4, 20px);
      align-items: center;

      >span {
        font-size: 16px;
        align-self: center;
        justify-self: center;
      }
    }
  }

  p {
    font-size: 24px;
  }

  .buttons {
    padding: 24px 0;
    display: flex;
    gap: 12px;
  }

  .cards {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;

    app-card {
      display: inline-block;
      width: 300px;
    }
  }

  .metar-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    app-metar-card {
      width: min(90%, 400px);
    }
  }
}

@media screen and (max-width: 900px) {
  .container {

    .title {
      .dots {
        display: none;
      }
    }

    .cards {
      justify-content: center;
    }

    .metar-cards {
      justify-content: center;
    }
  }

}